<h2>Admin: Manage Orders</h2>
<table class="table">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Date</th>
        <th>City</th>
        <!-- <th></th> -->
      </tr>
    </thead> 
    <tbody>
    <tr *ngFor="let order of orders$ | async">
        <td>{{ order.shipping.name }}</td>
        <td>{{ order.orderDate | date}}</td>
        <th>{{ order.shipping.city }}</th>
        <!-- TODO Create a View page 
        <td>
          <a href="">View (inactive)</a>  
        </td>
        -->
      </tr> 
    </tbody> 
  </table>
