<h2>Orders</h2>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders$ | async">
      <td>{{ order.orderDate | date }}</td>
      <td>{{ order.shipping.name }}</td>
      <td>{{ order.shipping.address3 }}</td>
      <td>{{ order.shipping.address2 }}</td>
      <td>{{ order.shipping.address1 }}</td>
      <!--TODO Create a View page 
      <td>
        <a href="">View (inactive)</a>
      </td>
      -->
    </tr>
  </tbody>
</table>
