
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" routerLink="/">E-Shop</a>
    <button class="navbar-toggler d-lg-none" 
    type="button" 
    aria-controls="navbarsExampleDefault" 
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-cart">
              Shopping Cart
              <span class="badge bagde-warning badge-pill">
                
              </span>
            </a>
          </li>
          <ng-template #anonymousUser>
            <li class="nav-item">
              <a class="nav-link">Login</a>
            </li>
          </ng-template>
        </ul>
    </div>
</nav>

