<div *ngIf="item.title" class="item-card">
    <img *ngIf="item.imageUrl" class="card-img-top" 
          [src]="item.imageUrl" alt="{{ item.title }}">
    <div class="item-card-body">
      <h5 class="item-card-title">{{ item.title }}</h5>
    </div>
    <div *ngIf="showActions" class="card-footer row justify-content-center align-items-center">
      <button 
        *ngIf="getQuantity() === 0; else updateQuantity"
        (click)="addToCart()" 
        class="btn col-8" id="add-btn">Add to Cart</button>
      <ng-template #updateQuantity>
        <app-item-quantity [item]="item" [shopping-cart]="shoppingCart"></app-item-quantity> 
      </ng-template>  
      <p class="item-card-price col-4"> {{ item.price | currency:'USD' }}</p>
    </div>      
</div>
